
<div class="parentBoon">
    <div class="boonTitle"><h3>Banes | Boons</h3></div>
    <div class="boon1"><h4 class="boonBtn" data-action="removeBoon"><i class="fa-solid fa-minus"></i></h4></div>
    <div class="boon2"><h4 class="boonNumber">{{boon}}</h4></div>
    <div class="boon3"><h4 class="boonBtn" data-action="addBoon"><i class="fa-solid fa-plus"></i></h4></div>
    <div class="boonforBtn"><a class="rollButton" data-action="roll">Roll</a></div>
</div>